## Choose verses/verse sets page.

# Page title
choose-page-title = Ayet seçme


# Button/heading that displays a 'verse set' section when clicked
choose-choose-a-verse-set-heading = Ayet dizini seç

# Caption on 'search' input box
choose-search-input = Ara:

# Button to run the search
choose-search-button = Ara

# Title for the list of verse sets found in a search.
# $query is the text the user entered to search for.
choose-verseset-search-results-title-html = <i>{ $query }</i> için sonuçlar:

# Message when no verse sets were found in a search
choose-verseset-search-no-results = Girdiğiniz terimlerle eşleşen bir ayet dizini bulunamadı.



# Prompt to create a passage set.
# $passage_ref is a verse reference like 'Genesis 1:1-10'.
# Part of the text should be a link, which should be wrapped in:
# <a data-create-passage-set href="{ $url }?ref={ $urlref }">    </a>
choose-create-passage-set-prompt-html = <a data-create-passage-set href="{ $url }?ref={ $urlref }">{ $passage_ref } bölümü</a> için bir ayet dizini oluşturabilirsiniz.

# Notice displayed next to 'Learn' button
choose-learn-verset-public-notice = Bu eylem herkes tarafından görülebilir (ayet dizinini özel olarak tanımlamadığınız sürece)

# Displayed under the description of a selection verse set.
# $total is the number of verses in the verse set.
choose-verseset-includes-verses = Dizin de toplam olarak { $total } ayetler bulunmaktadır:

# Displayed under the description of a passage verse set.
# $break_list is a comma separated list of section breaks (verse references)
choose-verseset-section-breaks = Kesit noktası: { $break_list }


# Button/heading that displays 'verses' section when clicked
choose-choose-individual-verses-heading = Ayrı ayetleri seç

# Comment above the boxes to browse/search for verses
choose-choose-verse-explanation-html =
    Bir (ya da birkaç) ayet seçiniz. Uzun bölümler için
    <a href="{ $create_passage_set_url }">bir 'bölüm' ayet dizini oluşturun</a>.


# Button/heading that displays 'create verse set' section when clicked
choose-create-verse-set-heading = Ayet dizini oluştur

# Selection set sub heading
choose-selection-set-heading = Ayrıştırılmış ayet dizini

choose-selection-set-explanation =
    Ayrıştırılmış ayet dizinleri belirli bir konuya göre veya bir grubun beraber
    çalışması için seçilmiş ayetleri içerir.

choose-create-selection-verse-set-button = Ayrıştırılmız dizini oluştur

# Passage set sub heading
choose-passage-set-heading = Kısım ayet dizini

choose-passage-set-explanation =
    Kısım ayet dizinleri bir Mezmur, kitap bölümü veya bölümün bir kısmını içeren bitişik ayetleri içerir.

    Kısım dizini çalışırken ayetler her zaman aynı sırayla gösterilecektir. Bunun yanı sıra kısmı iyice öğrenmek için birçok ince ayar da bulunur.

choose-create-passage-verse-set-button = Kısım dizini oluştur


# Catechism sub heading
choose-catechisms-heading = İlmihal Çalışmak


# Introduction to catechsisms
choose-catechism-intro =
         İlmihal Kutsal Kitap’taki öğretileri soru-cevap yöntemini
         kullanarak öğrenmek içindir. Kutsal Kitap’ın kendisini çalışmak kadar
         değerli olmasalar da, bu öğretileri sistematik bir şekildekavramak için
         çok değerli bir yöntem olduğunu düşünüp LearnScripture altyapısına
         ekledik.

choose-catechisms-link = İlmihal listesine gözat

# Button to start learning a verse or verse set
choose-learn-button = Çalış

# Button to add a verse to the learning queue
choose-add-to-queue-button = Sıraya ekle

# Caption for 'add a verse to the learning queue' button after it has been used and the verse has been added
choose-add-to-queue-button-added = Eklendi!

# Message when no verses were found when searching for a verse
choose-verse-search-no-verses-found = Girilen terimler ile eşleşen bir ayet bulunamdı
