
### Donations.

# 'Product name' that appears in PayPal if user is making a donation
donations-paypal-title = LearnScripture.net'e bağış ver

## Donate page.

# Page title
donations-page-title = Bağış

donations-page-top-html =
  <p>LearnScripture.net kullanıcıların bağışları aracılığıyla faaliyet gösteriyor
  Sitenin işlemesine maddi katkıda bulunmak isterseniz, çok müteşekkir oluruz.</p>

  <p>İşletim giderlerimiz şunlardır:</p>
  <ul>
    <li>Web sitesi sunucusu (yıllık yaklaşık &pound;60 Sterlin)</li>
    <li>Domain ismi</li>
    <li>Hizmet kalitesini yüksek tutmak için diğer hizmetler.</li>
  </ul>

  <p>İstediğiniz kadar az veya çok verebilirsiniz. Kullanıcılarımızın birkaçı
  3 yılda bir $5,00 Dolar veya £5,00 Sterlin bağışlasa, sitenin gelişimine çok yardımcı olurdu.</p>

# Message displayed on donations page if user is not logged in
donations-login-or-signup-to-donate-html = Bağış yapmak için <a href="{ $login_and_redirect_url }">giriş yapınız</a>
       (<a href="{ $signup_and_redirect_url }">veya bir heasap oluşturunuz</a>). Böylece bağışlarınızı takip edebileceğiz.


## Donation complete page.

# Page title
donations-completed-page-title = Bağış verme tamamlandı

# Thank you message
donations-done-thank-you = Bağışınız için teşekkür ederiz!

## Donation cancelled page.

# Page title
donations-cancelled-page-title = Bağış verme iptal edildi

donations-cancelled-message-html = Ödeme prosedürü bitmeden iptal ettiniz. <a href="{ $donate_url }">Bağış sayfasını</a> geri dönebilirsiniz.

## Donation received email.

donations-donation-received-email =
    Selam { $account_name },

    { $payment_amount } miktarındaki bağışınız için teşekkür ederiz!

    Bu bağışlar sitenin işlemesine ve geliştirmesine büyük katkıda
    bulunmaktadır.

    Sitemizi kullanmayı devam edip kullanımdan hoşnut kalmanızı dileriz!

    The LearnScripture.net takımı.

donations-donation-received-subject = LearnScripture.net - bağış yaptınız

## Target reached email.


# Email sent out to donators when the target is reached,
# $name is the user's username,
# $target is the target of the donation drive (a number in GBP),
# $amount is the amount the user gave (a number in GBP)
donations-target-reached-email = Selam { $name },

  { $target } rakamındaki gelir hedefimize ulaştık!

  { $amount } miktarındaki bağışınızdan dolayı hedefimize ulaşabildik.

  Bu paralar LearnScripture.net'in site sunum ve hizmet bedelleri dahil
  olmak üzere işletme giderleri için kullanılacaktır.

  Desteğiniz için teşekkür ederiz!

  The LearnScripture.net takımı.


# Subject of email sent out to donators when the target is reached
donations-target-reached-email-subject = LearnScripture.net - gelir hedefine ulaşıldı!
