### Home page text.

home-bible-text = Mesih'in sözü bütün zenginliğiyle içinizde yaşasın.

home-bible-reference = Koloseliler 3:16

home-strapline = Çevrimiçi Tanrı’nın sözünü ezberlemenin en kolay yolu.

home-start-learning-button = Çalışmaya başla!

# A quotation about LearnScripture.net from a user
home-user-quotation = Eninde sonunda İnternet’te iyi bir şekilde bağımlı olabileceğim bir şey...

# Heading 1 describing feature of learnscripture
home-easy-to-use-heading = Kullanımı kolay

home-easy-to-use-explanation = Çabanızı neyi çalışacağınıza veya ilerlemenizi takip etmeye değil,
         Kutsal Kitap ezberinize harcamanızı sağlıyoruz.

# Heading 2 describing feature of learnscripture
home-online-heading = Çevrimiçi


home-online-explanation = Cihazınıza yazılım yüklemeniz gerekmez. Yeni nesil tüm tarayıcılarda
        çalışır. Cihazınıza bir şey olursa veri kaybı olmaz.

# Heading 3 describing feature of learnscripture
home-proven-system-heading = İşlevi kanıtlanmış bir sistem

home-proven-system-explanation = Charlotte Mason Kutsal Kitap Ezber Sisteminin prensipleri ve hafızanızı
       güçlendiren diğer tekniklerden yola çıkarak 21. yüzyılın getirdiği gelişmeleri ekleyerek çok
       verimli bir ezber metodunu sunmaktayız.

# Heading 4 describing feature of learnscripture
home-phones-heading = Mobil cihaza uyumulu

home-phones-explanation = Arabirim özellikle küçük ekranlar için tasarlandı. Böylece web
        sitemizi bilgisayar, mobil cihaz fark etmeksizin herhangi bir cihazda
        kullanabilirsiniz.

# Heading 5 describing feature of learnscripture
home-child-friendly-heading = Çocuklara uygun

home-child-friendly-explanation = Hoş arabirim temalarımız ve her yaşa uygun olan bir ezber metodunu
        sunarak çocukların bile sitemizi kolayca kullanmasını sağlıyoruz. (Ebeveynlerin hesapları
        oluşturmaları kaydıyla, tabii.)

# Heading 6 describing feature of learnscripture
home-social-heading = Sosyal bağlantı

home-social-explanation = Gruplar, lider tahtaları, yorumlar, puan sistemi ve rozet kazanma
        özellikleri ezberinizi hevesle devam ettirmenizi sağlar. Kendi kendinize
        hazırladığınız ayet dizinlerini de ekleyip paylaşabilirsiniz. Kilise grubunuz veya
        arkadaşlarınızla aynı bölümleri ezberleyebilimek için harika bir yöntemdir bu.

# Heading 7 describing feature of learnscripture
home-free-heading = Ücretsiz!

home-free-explanation = Bu sitenin tamamını ücretsiz olarak kullanabilirsiniz. Sitemizde reklam
        sunmayacağız. Sitenin işlem giderlerin hepsi kullanıcılarımız bağışları aracılığıyla
        karşılanmakatadır.

# Last heading
home-interested-heading = Bunlar size hitap etti mi?

home-interested-explanation-html = <a href="/about/">Daha bilgi edinebilir</a> veya <a href="/choose/">hemen başlayabilirsiniz.</a>
