## Referrals program.

# Page title
referrals-page-title = Tanıtım programı

# First paragraph on referrals program page
referrals-intro = LearnScripture.net’i beğendiğseniz, başkalarına anlatınız. Ayrıca
    tanıtım programını kullanarak bunu yaparsanız, rozet kullanabilirsiniz!

# Title for section explanation how it works
referrals-how-it-works-title = Program nasıl işliyor

referrals-how-it-works-paragraph-1 = LearnScripture.net tanıtımının sizden geldiğini saptayabilmemiz
      aşağıdakisi gibi özel bir linke ihtiyacınız olacak:

referrals-how-it-works-paragraph-2 = Metne bastıktan sonra mobil cihazınızda “Paylaş” ögesini
      seçin veya linki kopyala-yapıştır yaparak arkadaşınızla paylaşın. Siteye bu link aracılığıyla
      giriş yapıp ayet çalışmaya başlarlarsa, sizin onları gönderdiğinizi saptayabileceğiz.

# Displayed on the referrals page if the user is not logged in.
referrals-you-need-to-create-an-account-html = Tanıtım linkini ve talimatları görüntülemek için <a href="{ $login_url }">hesabınıza giriş yapmanız</a> gerekir.


# Sub-title for list of things not to do
referrals-please-dont-title = Lütfen şunları yapmayınız:

referrals-please-dont-send-bulk-emails = Arkadaşlarınıza bu site hakkında toplu ileti göndermeyin. İnsanlar
      böyle gönderileri istenmeyen ileti olarak algılar ve onları LearnScripture.net'i
      kullanmaktan caydırabilir.

# Sub-title for list of things you should/can do
referrals-please-do-title = Şunları lütfen yapınız:

referrals-please-do-share-on-social-media = Linki Facebook, Twitter veya Pintrest gibi sitelerde yayımlayın (ama insanları caydıracak kadar fazla değil!)

referrals-please-do-include-personal-comments = LearnScripture.net’i neden beğendiğinizi ve size nasıl yardımcı olduğunu açıklayan kişisel bir yazıyı ekleyin.

# Sub title for section about sharing specific pages
referrals-specific-pages-title = Belirli sayfalar

referrals-specific-pages-paragraph-1 = Belirli sayfalar için tanıtım linkleri de mevcuttur. Başlangıç noktası
    olabilecek sayfaların dibinde “Sayfayı paylaş” linkini bulabilirsiniz.
    Bunlar otomatik olarak sizi tanımlayan doğru adresi içerir. Linki tıklayıp paylaşabilirsiniz.

referrals-paragraph-2-html = Bu linkler özellikle arkadaşlarınızla <a href="{ $choose_url }">bir ayet dizinini</a>
    çalışmak için veya onları bir <a href="{ $groups_url }">gruba</a> davet etmek için kullanılabilir.
