
// create verse set page

.icon-arrow-up, .icon-arrow-down, .icon-trash {
    cursor: pointer;
}

#id-create-selection-set, #id-create-passage-set {
    #id-verse-list tbody {
        .disable-select();
        cursor: move;
    }
}

