
.eventstream {

    > ul {
        margin-left: 0px;
        > li {
            list-style-type: none;
            border-top: 1px solid var(--bgBorderColor);
            padding: 2px 0px 8px;
            margin-top: -1px;
        }
    }
    .postline {
        .timestamp {
            font-style: italic;
            font-size: 90%;
        }
    }

    .commentindicator {
        float:right;
        border: 1px solid var(--bgBorderColor);
        margin-top: -3px;
        padding-left: 4px;
        padding-right: 2px;
        border-bottom-left-radius: 4px;
    }

    .commentmessage {
        background-color: var(--bgColor1);
        border: 1px solid var(--bgBorderColor);
        border-radius: 4px;
        padding: 1px 3px;
        p {
            margin: 0;
        }
    }
}

ul.grouplist {
    margin-bottom: 5px;
}

#id-heatmap-wrapper {
    overflow-x: hidden;
    border: 1px solid #d8d8d8;
    margin-bottom: 2px;
}

#id-heatmap-div {
    float: right;
    background-color: white;
    padding: 1px;
    // Set to the eventual height we need, to stop controls jumping around:
    height: 109px;
    .cal-heatmap-container {
        .q1 {
            background-color: #ededed;
            fill: #ededed;
        }
        .q2 {
	        background-color: #dae289;
	        fill: #dae289;
        }
        .q3 {
	        background-color: #cedb9c;
	        fill: #9cc069;
        }
        .q4 {
	        background-color: #b5cf6b;
	        fill: #669d45;
        }
        .q5 {
	        background-color: #637939;
	        fill: #637939;
        }
        .q6 {
	        background-color: #3b6427;
	        fill: #3b6427;
        }
        .q7 {
	        background-color: #0c451c;
	        fill: #0c451c;
        }
        rect.highlight {
            stroke: red;
        }
    }
}

#id-heatmap-domain-title {
    font-size: 0.7em;
    padding-left: 2px;
}

#id-heatmap-section {
    .clearfix();
    p.note {
        margin-top: 0.8em;
        text-align: center;
    }
}

#id-streaks {
    line-height: 1;
    .clearfix();
    text-align: center;
    margin-top: 5px;
    > div {
        float: left;
        width: 50%;
    }
    .streak {
        display: block;
        margin-top: 5px;
        font-size: 2em;
        font-weight: bold;
        color: var(--linkColor);
        font-family: var(--specialFontFamily);
    }

}

#id-heatmap-stat-selector {
    margin-top: 1em;
    margin-bottom: 0;
    text-align: center;

    .buttonradios();
    li {
        display: inline;
        white-space: nowrap;
    }
}

#id-show-heatmap i {
    .rotate-expanded(90deg);
}


#id-homescreen-install-prompt {
    display: none;
}

#id-firefox-homescreen-install-prompt {
    img {
        height: 1.5em;
    }
    @media all and (display-mode: standalone) {
        // Already done, don't display again
        display: none;
    }
}
