
@import "../fontawesome/font-awesome.less";
// Rather than specify fontawesome icons in HTML,
// we define semantic names here and use those.


.icon-stats:before { content: @fa-var-bar-chart-o; }
.icon-progress:before { content: @fa-var-star; }
.icon-verse-sets:before { content: @fa-var-folder; }
.icon-leaderboard:before { content: @fa-var-arrows-v; }
.icon-account:before { content: @fa-var-user; }
.icon-logout:before { content: @fa-var-sign-out; }
.icon-preferences:before { content: @fa-var-wrench; }
.icon-arrow-up:before { content: @fa-var-arrow-up; }
.icon-arrow-down:before { content: @fa-var-arrow-down; }
.icon-trash:before { content: @fa-var-trash-o; }
.icon-login:before { content: @fa-var-sign-in; }
.icon-public:before { content: @fa-var-bullhorn; }
.icon-facebook:before { content: @fa-var-facebook-square; }
.icon-twitter:before { content: @fa-var-twitter-square; }
.icon-comment:before { content: @fa-var-comment-o; }
.icon-link:before { content: @fa-var-link; }
.icon-moderate:before { content: @fa-var-thumbs-down; }
.icon-appmenu:before { content: @fa-var-ellipsis-v; }
.icon-left:before { content: @fa-var-arrow-left; }
.icon-right:before { content: @fa-var-arrow-right; }
.icon-return:before { content: @fa-var-chevron-left; }
.icon-help-toggle:before { content: @fa-var-angle-right; }
.icon-heatmap-toggle:before { content: @fa-var-angle-right; }
.icon-ajax-in-progress:before { content: @fa-var-spinner;}
.icon-verse-options-menu-btn:before { content: @fa-var-bars;}
.icon-points:before { content: @fa-var-check; }
.icon-pin-menu:before { content: @fa-var-thumb-tack; }
.icon-show-previous-verse:before { content: @fa-var-angle-left; }
.icon-fix-translation:before { content: @fa-var-pencil-square; }
