{% load render_bundle from webpack_loader %}
{% load ftl %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% if title %}{{ title }} - {% endif %}LearnScripture.net{% endblock %}</title>
    <meta name="description" content="{% block description %}{% ftlmsg 'site-description' %}{% endblock %}">
    {% if noindex_but_follow %}
      <meta name="robots" content="noindex, follow">
    {% endif %}
    {% include "learnscripture/head_inc.html" %}
    {% render_bundle 'base' 'css' 'DEFAULT' attrs='charset="utf-8"' %}

    {% block extracss %}
    {% endblock %}
  </head>

  <body class="base-page {% block body_extra_class %}{% endblock %}" data-theme="{{ current_theme }}">
    <div class="topbar-wrapper">
      <div class="container">
        <nav class="topbar primary-nav">
          {% if not use_dashboard_nav %}
            <div class="nav-item">
              {% if request.identity.default_to_dashboard %}
                <a class="brand" href="/dashboard/">{% ftlmsg 'site-nav-dashboard' %}</a>
              {% else %}
                <a class="brand" href="/">Learn Scripture</a>
              {% endif %}
            </div>
          {% endif %}
          {% for m in menuitems %}
            <div class="nav-item {% if m.active %}active{% endif %}"><a href="{{ m.path }}">{{ m.caption }}</a></div>
          {% endfor %}
          <div class="nav-item spacer"></div>
          <div class="nav-dropdown">
            <div class="dropdown-heading nav-item">
              <a href="#">
                {% if request_account %}{{ request_account.username }}{% else %}{% ftlmsg 'site-guest-user-name' %}{% endif %} <i class="icon-caret-down"></i>
              </a>
            </div>
            <ul class="nav-dropdown-menu">
              {% if not request_account %}
                <li><a href="{% url 'login' %}"><i class="icon-fw icon-login"></i> {% ftlmsg 'site-sign-in' %}</a></li>
                <li><a href="{% url 'signup' %}?next={{ request.get_full_path|urlencode }}"><i class="icon-fw icon-account"></i> {% ftlmsg 'site-create-account' %}</a></li>
              {% endif %}
              <li><a href="{% url 'preferences' %}?next={{ request.path_info }}" class="preferences-link"><i class="icon-fw icon-preferences"></i> {% ftlmsg 'site-user-preferences-link' %}</a></li>
              {% if request_account %}
                <li><a href="{% url 'account_details' %}"><i class="icon-fw icon-account"></i> {% ftlmsg 'site-account-details-link' %}</a></li>
                <li><a href="{% url 'user_verses' %}"><i class="icon-fw icon-progress"></i> {% ftlmsg 'site-verse-progress-link' %}</a></li>
                <li><a href="{% url 'user_verse_sets' %}"><i class="icon-fw icon-verse-sets"></i> {% ftlmsg 'site-verse-sets-link' %}</a></li>
                <li><a href="{% url 'user_stats' request_account.username %}"><i class="icon-fw icon-stats"></i> {% ftlmsg 'site-user-stats-link' %}</a></li>
                <li><a href="#" class="logout-link"><i class="icon-fw icon-logout"></i> {% ftlmsg 'site-log-out-link' %}</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="maincontent">
        <div class="page-header">
          {% block page_header %}
            <h1>{% block page_title %}{{ title }}{% endblock %}<a name="id-page-top">§</a><a class="reload-icon" href="." title="Reload">&#x21bb;</a></h1>
          {% endblock %}
        </div>

        {% block messages %}
          {% if site_notices %}
            <div class="message-container">
              {% for notice in site_notices %}
                <div class="notice">
                  {{ notice.message_html|safe }}
                </div>
              {% endfor %}
            </div>
          {% endif %}

          {% block donation_drives %}
            {% if donation_drives %}
              <div class="message-container">
                {% for dd in donation_drives %}
                  <div class="notice donation-drive">
                    {{ dd.message_html|safe }}
                    {% if dd.target > 0 %}
                      <div class="donation-drive-stats">
                        {% ftlmsg 'site-donation-drive-raised-html' amount=dd.amount_raised_formatted %}
                        <span class="chart-container"><span class="fraction" style="width: {{ dd.percentage_raised }}%;"></span></span>
                        {% ftlmsg 'site-donation-drive-target-html' amount=dd.target_formatted %}
                      </div>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          {% endblock %}

          {% if notices %}
            <div class="message-container">
              {% for notice in notices %}
                <div class="notice">
                  <a class="close" title="{% ftlmsg 'site-messages-clear-this' %}" href="#" data-notice-id="{{ notice.id }}">×</a>
                  {{ notice.message_html|safe }}
                </div>
              {% endfor %}
              {% if notices.0.is_old %}
                <div class="clearnotices">
                  {% ftlmsg 'site-messages-clear-messages-help' %}
                </div>
              {% endif %}
            </div>
          {% endif %}

          {% if messages %}
            <div class="message-container">
              <ul class="messagelist">
                {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endblock %}

        {% block content %}
        {% endblock %}

      </div>

      <footer>
        {% block referral_links %}
          {% if request_account and include_referral_links %}
            <p class="referral-link-section">
              {% ftlmsg 'site-share-link' %} <span class="referral-link">{% include "learnscripture/referral_link_control.html" with link=referral_link %}</span> | <a href="/referral-program/">{% ftlmsg 'site-share-link-whats-this' %}</a>
            </p>
          {% endif %}
        {% endblock %}

        {% if request.i18n_options_enabled %}
          {% include "learnscripture/language_selector_inc.html" %}
        {% endif %}

        <p><a href="/help/">{% ftlmsg 'site-footer-help' %}</a> |
          <a href="/about/">{% ftlmsg 'site-footer-about' %}</a> |
          <a href="/terms-of-service/">{% ftlmsg 'site-footer-terms-of-service' %}</a> |
          <a href="/privacy-policy/">{% ftlmsg 'site-footer-privacy' %}</a> |
          <a href="/bible-versions/">{% ftlmsg 'site-footer-bible-versions' %}</a> |
          <a href="/referral-program/">{% ftlmsg 'site-footer-referral-program' %}</a> |
          <a href="/contact/">{% ftlmsg 'site-footer-contact-us' %}</a></p>
        <p>&copy; LearnScripture.net 2012-2018</p>

        <div class="footer-permission-links">
          <p>{% ftlmsg 'site-footer-bible-texts-used' %}</p>
          <p>
            <a href="http://bible.org/">NET</a> |
            <a href="http://www.esv.org/">ESV</a> |
            <a href="https://csbible.com/">CSB</a> |
            <a href="http://www.newcitycatechism.com/">New City Catechism</a> |
            <a href="http://www.prpbooks.com/Westminster-Shorter-Catechism-in-Modern-English-158.html">Westminster Shorter Catechism in Modern English</a>
          </p>
        </div>

      </footer>

    </div> <!-- /container -->

    <!-- popup forms -->
    {% include "learnscripture/preferences_form_inc.html" %}


    <!-- preferences data -->
    {% include "learnscripture/preferences_data_inc.html" %}

    {% render_bundle 'base' 'js' 'DEFAULT' %}

    {% block extrajs %}
    {% endblock %}

    {% if url_after_logout %}
      <div id="url-after-logout">{{ url_after_logout }}</div>
    {% endif %}

    {% if settings.GOOGLE_ANALYTICS_ACCOUNT %}
      <script type="text/javascript">

       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}']);
       _gaq.push(['_trackPageview']);

       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

      </script>
    {% endif %}

    {% include "learnscripture/theme_fonts_inc.html" %}
    {% include "learnscripture/js_i18n_strings_inc.html" %}

    <div id="id-unloader"></div>
  </body>
</html>
