# Error message displayed when a user asked for a Bible verse that doesn't exist.
# $ref is the reference asked for
bibleverses-no-verses-matched-ref = No verses matched '{ $ref }'

# Error message displayed when a search term returns no verses
bibleverses-no-verses-matched = No verses were found matching your search

# Error message displayed when a user asked for a reference that spans more than the allowed number of verses.
# $allowed is the allowed number. Always 2 or more.
bibleverses-too-many-verses = References that span more than { $allowed } verses are not allowed in this context.

# Error message displayed when a user does a search without entering a search term
bibleverses-no-query-term = Please enter a query term or reference

# Error message displayed when a user enters something that is not recognised as a Bible reference
bibleverses-verse-reference-not-recognized = Verse reference not recognized

# Error message displayed when a user enters a reference where the end chapter is before the start chapter
bibleverses-invalid-reference-end-chapter-before-start-chapter = end chapter { $end } is before start chapter { $start }

# Error message displayed when a user enters a reference where the end verse is before the start verse
bibleverses-invalid-reference-end-verse-before-start-verse = end verse { $end } is before start verse { $start }

# Caption for filtering only Bible texts
bibleverses-text-type-bible = Bible

# Caption for filtering only catechism questions
bibleverses-text-type-catechism = Catechism

# Label for the bible verse reference field
bibleverses-reference = Reference

# Label for the bible verse text field
bibleverses-text = Text

# Legal notice shown at the bottom of all extracts from Bibles/catechisms.
bibleverses-text-used-with-permission = Text used with permission

## Bible verse searching.

# Label for the 'quick find' box for searching for verses
bibleverses-quick-find-label = Quick find:

# Example text for the search box when in 'passage' mode.
# It shows an example reference for a group of verses.
bibleverses-quick-find-example-passage-mode-html = example: <b>Romans 8:28-39</b>

# Example text for the search box when in general mode.
# It shows an example verse reference and text you might search for
bibleverses-quick-find-example-general-mode-html = example: <b>Matt 28:19</b> or <b>make disciples</b>

# Label for the drop down boxes for selecting a Bible verse
bibleverses-select-passage-label = Select:

# Label for the drop down box for selecting Bible version
bibleverses-select-version-label = Version:

# Caption for the button that looks up a passage
bibleverses-quick-find-lookup-passage-button = Lookup passage

# Caption for the button that looks up a verse (search or reference)
bibleverses-quick-find-lookup-verse-button = Lookup verse



