{% extends "base_twocol.html" %}

{% load form_rendering %}
{% load ftl %}

{% block leftcolumn %}

  <form action="" id="id_account-details-form" method="POST">
    {% csrf_token %}

    <h2>{% ftlmsg 'accounts-details-personal-info-subtitle' %}</h2>

    <h3>{% ftlmsg 'accounts-details-private-info-subtitle' %}</h3>

    {{ form.email|render_field }}
    {{ form.is_under_13|render_field }}

    <h3>{% ftlmsg 'accounts-details-public-info-subtitle' %} <i class="icon-public"></i></h3>

    {{ form.first_name|render_field }}
    {{ form.last_name|render_field }}

    <div class="actions">
      <input id="id-save-btn" type="submit" value="Save" class="btn primary">
    </div>

  </form>

{% endblock %}

{% block rightcolumn %}
  <h3>See also</h3>

  <ul>
    <li><a href="{% url 'preferences' %}" class="preferences-link">{% ftlmsg 'accounts-preferences-title' %}</a></li>
    <li><a href="{% url 'learnscripture_password_change' %}">{% ftlmsg 'accounts-password-change-page-title' %}</a></li>
  </ul>

{% endblock %}
