{% load ftl %}

{% for event in results.items %}
  {% include "learnscripture/activity_event_inc.html" %}
{% endfor %}
<div class="more-results-container">
  <div class="paging">
    {# For PJAX 'show more', this div gets replaced with the next #}
    {# page of results, plus a new 'show more' link #}
    {% if results.more %}
      <span class="paging-part"><a data-pjax-more href="{{ results.more_link }}">{% ftlmsg 'pagination-show-more' %}</a></span>
    {% endif %}
    <span class="paging-part"><a href="#id-page-top">{% ftlmsg 'pagination-jump-to-top' %}</a></span>
  </div>
</div>
