{% extends "base.html" %}

{% block content %}

  <div data-pjax-results-container="#id-activity-stream"
       data-pjax-more-results-container=".more-results-container"
       ></div>
  <div class="activitystream" id="id-activity-stream">
    {% include "learnscripture/activity_stream_results_inc.html" %}
  </div>

  {% include "learnscripture/comment_common_inc.html" %}

{% endblock %}
