{% load comment_utils %}
{% load dict_utils %}
{% load ftl %}

{% with rendered=event.render_html_dict|lookup:default_language_code comments=event.ordered_comments|filter_comments:request_account %}
  {% ifchanged rendered %}
    {% ifchanged event.created.date %}
      <h3 class="timestamp">
        {{ event.created|date:"j M Y" }}
      </h3>
    {% endifchanged %}
    <div class="activityitem
                {% if event.account_id in following_ids %}following{% endif %}
                "
         data-event-id="{{ event.id }}">
      {% if event.accepts_comments %}
        <span class="commentindicator">
          <a href="#" class="show-add-comment" title="{% ftlmsg 'comments-add-comment-link' %}"><i class="icon-comment"></i> <span class="commentcount">{{ comments|length }}</span></a>
        </span>
      {% endif %}
      <span class="permalink">
        <a href="{{ event.get_absolute_url }}" title="{% ftlmsg 'activity-permalink' %}"><i class="icon-link"></i></a>
      </span>
      <span class="eventdetails">
        <h4>{{ rendered }}</h4>
      </span>
      {% if event.is_new_comment %}
        <div class="commentblock">
          {% with comment=event.get_comment %}
            {% include "learnscripture/comment_inc.html" %}
          {% endwith %}
        </div>
      {% endif %}
      <div class="commentblock{% if not comments %} hide{% endif %}"
           data-new-comments-position="bottom"
           >
        {% for comment in comments %}
          {% include "learnscripture/comment_inc.html" %}
        {% endfor %}
        {% if request_account.enable_commenting or not request_account %}
          <div class="commentboxlocator">
            <a href="#" class="show-add-comment">{% ftlmsg 'comments-add-comment-link' %}</a>
          </div>
        {% endif %}
      </div>
    </div>
  {% endifchanged %}
{% endwith %}
