{% extends "base.html" %}

{% load form_rendering %}
{% load ftl %}
{% load markup_tags %}

{% block body_extra_class %}choose-page{% endblock %}

{% block content %}

  <div class="accordion-container">
    <section id="id-choose-verseset" class="accordion-item {% if active_section == "verseset" %}expanded{% endif %}">
      <button type="button" class="accordion-heading">{% ftlmsg 'choose-choose-a-verse-set-heading' %}</button>
      <div class="accordion-body">
        <form action="." method="GET"
              id="id-choose-verseset-form"
              data-pjax-results-container="#id-choose-verseset-results"
              data-pjax-more-results-container=".more-results-container"
          >
          <div class="form-row">
            <label for="id_query">{% ftlmsg 'choose-search-input' %}</label>
            <div class="input input-line">
              {{ verseset_search_form.query }}
              <button type="submit" class="btn primary" id="id-search-btn">
                {% ftlmsg 'choose-search-button' %}
              </button>
            </div>
          </div>

          {{ verseset_search_form.set_type|render_field }}
          {{ verseset_search_form.order|render_field }}
          {% if request.i18n_options_enabled %}
            {{ verseset_search_form.language_code|render_field }}
          {% endif %}

        </form>

        <div id="id-choose-verseset-results">
          {% include "learnscripture/choose_verseset_inc.html" %}
        </div>
      </div>

    </section>
    <section id="id-choose-individual" class="accordion-item {% if active_section == "individual" %}expanded{% endif %}">
      <button type="button" class="accordion-heading">{% ftlmsg 'choose-choose-individual-verses-heading' %}</button>
      <div class="accordion-body">
        {% url 'create_passage_set' as create_passage_set_url %}
        <p>{% ftlmsg 'choose-choose-verse-explanation-html' create_passage_set_url=create_passage_set_url %}</p>

        {% include "learnscripture/quick_find_controls.html" %}

        {# See also "learnscripture/choose_individual_results_inc.html" which is rendered via VerseFind API call #}
      </div>
    </section>

    <section id="id-choose-create-set-menu" class="accordion-item {% if active_section == "create-set-menu" %}expanded{% endif %}">
      <button type="button" class="accordion-heading">{% ftlmsg 'choose-create-verse-set-heading' %}</button>
      <div class="accordion-body">
        <div class="actionset">
          <form>
            <p><a class="btn primary" href="{% url 'create_selection_set' %}">{% ftlmsg 'choose-create-selection-verse-set-button' %}</a></p>
          </form>

          <h3>{% ftlmsg 'choose-selection-set-heading' %}</h3>
          <p>{% ftlmsg 'choose-selection-set-explanation' %}</p>
        </div>

        <div class="actionset">
          <form>
            <p><a class="btn primary" href="{% url 'create_passage_set' %}">{% ftlmsg 'choose-create-passage-verse-set-button' %}</a></p>
          </form>

          <h3>{% ftlmsg 'choose-passage-set-heading' %}</h3>
          {% filter linebreaks %}{% ftlmsg 'choose-passage-set-explanation' %}{% endfilter %}
        </div>
      </div>
    </section>

    <section id="id-choose-catechism" class="accordion-item" data-accordion-link="{% url 'catechisms' %}">
      <button type="button" class="accordion-heading">{% ftlmsg 'choose-catechisms-heading' %}</button>
      <div class="accordion-body">
        <p>{% ftlmsg 'choose-catechism-intro' %} <a href="{% url 'catechisms' %}">{% ftlmsg 'choose-catechisms-link' %}</a>.
      </div>
    </section>
  </div>

{% endblock %}
