{% load verse_utils %}
{% load ftl %}

{% if results %}
  {% for result in results %}
    <div class="actionset">
      <form class="individual-choose" action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="localized_reference" value="{{ result.localized_reference }}">
        <input type="hidden" name="version_slug" value="{{ version_slug }}">
        <input type="submit" name="learn_now" class="btn primary needs-preferences" value="{% ftlmsg 'choose-learn-button' %}">
        {% if request.identity.account %}
          <br/>
          <button type="submit" name="add_to_queue" class="btn needs-preferences" data-added-caption="{% ftlmsg 'choose-add-to-queue-button-added' %}">{% ftlmsg 'choose-add-to-queue-button' %}</button>
        {% endif %}
      </form>
      <div class="verselist">
        {% for verse in result.verses %}
          <div class="verse">
            <span class="versenumber">{{ verse.localized_reference }}</span> {{ verse|html_format_text }}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% else %}
  {% if page == 0 %}
    <p><span class='error'>{% ftlmsg 'choose-verse-search-no-verses-found' %}</span></p>
  {% endif %}
{% endif %}

{% include "learnscripture/quick_find_search_show_more_inc.html" %}
