{% load ftl %}

{% if verseset_search_form.cleaned_data.query %}
  <h2>{% ftlmsg 'choose-verseset-search-results-title-html' query=verseset_search_form.cleaned_data.query %}</h2>
{% endif %}

{% if not results.items %}
  <p>{% ftlmsg 'choose-verseset-search-no-results' %}</p>
{% endif %}

{% if create_passage_set_prompt %}
  {% url 'create_passage_set' as create_passage_url %}
  <p>{% ftlmsg 'choose-create-passage-set-prompt-html' url=create_passage_url urlref=create_passage_set_prompt.internal_reference|urlencode passage_ref=create_passage_set_prompt.localized_reference %}</p>
{% endif %}

{% include "learnscripture/choose_verseset_results_inc.html" %}
{% if results.items %}
  {% include "learnscripture/choose_verseset_show_more_inc.html" %}
{% endif %}
