{# Hidden stuff #}
{% load ftl %}
{% load capture_tags %}

<div id="id-add-comment" class="hide">
  <div class="comment-box-wrapper">
    {% if request_account %}
      {% if request_account.enable_commenting %}
        <div class="comment-form-row">
          <textarea class="comment-box" rows="1"></textarea>
          <div>
            <button type="button" class="btn primary add-comment-btn">
              {% ftlmsg 'comments-post-button' %} <i class="icon-public icon-replace" title="{% ftlmsg 'site-public-action' %}"></i>
            </button><button type="button" class="btn cancel-comment-btn">
              {% ftlmsg 'comments-cancel-button' %}
            </button>
          </div>
        </div>
        <div class="warning-note">
          {% ftlmsg 'comments-public-message-warning' %}
        </div>
      {% endif %}
    {% else %}
      {% capture as login_and_redirect_url silent %}{% url "login" %}?next={{ request.get_full_path|urlencode }}{% endcapture %}
      <div>{% ftlmsg 'comments-login-to-add-comments-html' login_url=login_and_redirect_url %}</div>
    {% endif %}
  </div>
</div>
