{% load ftl %}

{% for result in results %}
  <tr data-internal-reference="{{ result.internal_reference }}">
    <td>{{ result.localized_reference }}</td>
    <td>{{ result.text }}</td>
    <td><span title="{% ftlmsg 'lists-item-move-up' %}"><i class="icon-arrow-up"></i></span></td>
    <td><span title="{% ftlmsg 'lists-item-move-down' %}"><i class="icon-arrow-down"></i></span></td>
    <td><span title="{% ftlmsg 'lists-item-remove' %}"><i class="icon-trash"></i></span></td>
  </tr>
{% endfor %}

