{% extends "base.html" %}

{% load form_rendering %}
{% load ftl %}

{% block content %}

  {% if set_type == 'SELECTION' %}

    <div id="id-create-selection-set">

      <form id="id-verse-set-form" action="" method="POST">
        <input type="hidden" value="" id="id-internal-reference-list"  name="internal_reference_list">
        <h3>{% ftlmsg 'versesets-about-set-fields' %}</h3>
        {% csrf_token %}
        {{ verse_set_form|render_form }}

        <div id="id-verse-list">
          <h3>{% ftlmsg 'versesets-verse-list' %}</h3>

          <div id="id-verse-list-empty-message">
            {% ftlmsg 'versesets-no-verses-yet' %}
          </div>

          <table>
            <thead>
              <tr>
                <th>{% ftlmsg 'bibleverses-reference' %}</th>
                <th>{% ftlmsg 'bibleverses-text' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for v in verses %}
                <tr data-internal-reference="{{ v.internal_reference }}">
                  <td>{{ v.localized_reference }}</td>
                  <td>{{ v.text }}</td>
                  <td><span title="{% ftlmsg 'lists-item-move-up' %}"><i class="icon-arrow-up"></i></span></td>
                  <td><span title="{% ftlmsg 'lists-item-move-down' %}"><i class="icon-arrow-down"></i></span></td>
                  <td><span title="{% ftlmsg 'lists-item-remove' %}"><i class="icon-trash"></i></span></td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">
                  {% ftlmsg 'lists-drag-drop-to-re-order' %}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </form>

      {# See also "learnscripture/create_selection_row_inc.html" which is rendered by VerseFind API call #}

      <h3>{% ftlmsg 'versesets-add-verses-subtitle' %}</h3>

      {% include "learnscripture/quick_find_controls.html" %}

      {# See also "learnscripture/create_selection_results_inc.html" which is rendered by VerseFind API call #}

      <form>
        <hr>
        <div class="actions">
          <button name="save" type="submit" class="btn primary" id="id-save-btn">{% ftlmsg 'versesets-save-verseset-button' %}</button>
        </div>
      </form>

    </div>

  {% endif %}

  {% if set_type == 'PASSAGE' %}

    <div id="id-create-passage-set">
      <h3>{% ftlmsg 'versesets-choose-passage' %}</h3>

      {% with quick_find_mode='PASSAGE' %}
        {% include "learnscripture/quick_find_controls.html" %}
      {% endwith %}

      <div id="id-duplicate-warning"></div>

      {# See also "learnscripture/duplicate_passage_warning_inc.html" which is rendered by VerseFind API call #}

      <div id="id-verse-list">
        <p>{% ftlmsg 'versesets-natural-break-explanation' %}</p>
        <p>{% ftlmsg 'versesets-natural-break-explanation-part-2-html' %}</p>
        <table>
          <thead>
            <tr>
              <th>{% ftlmsg 'versesets-section-break' %}</th>
              <th>{% ftlmsg 'bibleverses-reference' %}</th>
              <th>{% ftlmsg 'bibleverses-text' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for v in verses %}
              <tr data-internal-reference="{{ v.internal_reference }}">
                <td><input type="checkbox" {% if v.break_here %}checked{% endif %}/></td>
                <td>{{ v.localized_reference }}</td>
                <td>{{ v.text }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

      {# See also "learnscripture/create_passage_row_inc.html" which is rendered by VerseFind API call #}

      <form id="id-verse-set-form" action="" method="POST">
        <input type="hidden" name="initial_localized_reference" value="{{ initial_localized_reference }}">
        {% csrf_token %}

        <h3>{% ftlmsg 'versesets-optional-info' %}</h3>

        {% if verse_set_form.non_field_errors %}
          <p>The verse set could not be saved:</p>
        {% endif %}

        {{ verse_set_form|render_form }}

        <div class="actions">
          <input type="hidden" value="" id="id-internal-reference-list"  name="internal_reference_list">
          <input type="hidden" value="" id="id-break-list"  name="break_list">
          <button name="save" type="submit" class="btn primary" id="id-save-btn">{% ftlmsg 'versesets-save-verseset-button' %}</button>
        </div>

      </form>
    </div>

  {% endif %}

{% endblock %}
