{% extends "base.html" %}

{% load form_rendering %}
{% load ftl %}

{% block content %}

  <h2>{% ftlmsg 'groups-edit-details-subtitle' %}</h2>

  <form action="" method="POST" id="id-form-edit-group">
    {% csrf_token %}
    {{ form|render_form }}

    <div class="actions">
      <button type="submit" name="save" class="btn primary" />{% ftlmsg 'groups-edit-save-group-button' %}</button>
    </div>
  </form>


{% endblock %}


{% block extracss %}
  {{ form.media.css }}
{% endblock %}

{% block extrajs %}
  {{ form.media.js }}
{% endblock %}
