<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon-16x16.png" sizes="16x16" />
<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/svg+xml" href="{{ STATIC_URL }}img/logo.svg" sizes="192x192 512x512" />
<link rel="apple-touch-icon" href="{{ STATIC_URL }}img/touch-icon-152.png" />
