{% extends "base_twocol.html" %}

{% load markup_tags %}
{% load account_utils %}
{% load ftl %}

{% block leftcolumn %}

  {% if group.description %}
    <h2>{% ftlmsg 'groups-details-description-subtitle' %}</h2>

    {{ group.description|apply_markup:"restructuredtext" }}
  {% endif %}

  <h2>{% ftlmsg 'groups-details-comments-subtitle' %}</h2>
  <p>{% ftlmsg 'groups-details-comments-order' %} <a href="{% url 'group_wall' group.slug %}">{% ftlmsg 'groups-details-comments-see-all' %}</a></p>

  <div class="groupcomments" data-group-id="{{ group.id }}">
    <div class="commentblock"
         data-new-comments-position="top"
         >
      {% include "learnscripture/group_wall_add_comment_inc.html" %}
      {% for comment in comments %}
        {% with show_as_related_comment=comment.event %}
          {% include "learnscripture/comment_inc.html" %}
        {% endwith %}
      {% endfor %}
    </div>
  </div>

  {% include "learnscripture/comment_common_inc.html" %}

  <h2>{% ftlmsg 'groups-details-group-info-subtitle' %}</h2>

  <ul>
    {% if group.public %}
      <li>{% ftlmsg 'groups-details-public-explanation-html' %}</li>
    {% else %}
      <li>{% ftlmsg 'groups-details-private-explanation-html' %}</li>
    {% endif %}

    {% if group.open %}
      <li>{% ftlmsg 'groups-details-open-explanation-html' %}</li>
    {% else %}
      <li>{% ftlmsg 'groups-details-closed-explanation-html' %}</li>
    {% endif %}

    <li><a href="{% url 'group_leaderboard' group.slug %}">{% ftlmsg 'leaderboards-for-group-link' group_name=group.name %} <i class="icon-leaderboard"></i></a></li>
  </ul>


  <h2>{% ftlmsg 'groups-details-your-status-subtitle' %}</h2>

  <div class="actionset">
    {% if in_group %}

      <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" name="leave" class="btn">{% ftlmsg 'groups-details-leave-button' %}</button>
      </form>
      <p>{% ftlmsg 'groups-details-status-member' %}</p>

    {% else %}
      {% if can_join %}
        <form action="" method="POST">
          {% csrf_token %}
          {% if group.public %}
            <i title="{% ftlmsg 'site-public-action' %}" class="icon-public icon-replace"></i>
          {% endif %}

          <button type="submit" name="join" class="primary btn join-group-btn needs-account">{% ftlmsg 'groups-details-join-button' %}</button>
        </form>

      {% endif %}

      <p>{% ftlmsg 'groups-details-status-not-member' %}</p>

      {% if can_join %}
        <p>{% ftlmsg 'groups-details-join-explanation-html' %}</p>

        <p>{% ftlmsg 'groups-details-join-privacy-note' %}</p>
      {% endif %}

    {% endif %}

  </div>


  <h2>{% ftlmsg 'groups-details-members-subtitle' %}</h2>

  {% with members=group.active_members %}
    {% if members %}
      <ul>
        {% for account in members %}
          <li>{{ account|account_link }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{% ftlmsg 'groups-details-members-empty' %}</p>
    {% endif %}
  {% endwith %}
{% endblock %}

{% block rightcolumn %}
  <h3>{% ftlmsg 'site-see-also-header' %}</h3>
  <ul>
    <li><a href="{% url 'group_wall' group.slug %}">{% ftlmsg 'groups-wall-page-link' %} <i class="icon-comment"></i></a></li>
    <li><a href="{% url 'group_leaderboard' group.slug %}">{% ftlmsg 'leaderboards-leaderboard' %} <i class="icon-leaderboard"></i></a></li>
    {% if can_edit %}
      <li><a href="{% url 'edit_group' group.slug %}">{% ftlmsg 'groups-edit-group-button' %}</a></li>
    {% endif %}
    <li><a href="{% url 'groups' %}">{% ftlmsg 'groups-other-groups-link' %}</a></li>
  </ul>

  <h3>{% ftlmsg 'groups-statistics-subtitle' %}</h3>

  <p>{% ftlmsg 'groups-group-created-by-and-when-html' creator=group.created_by|account_link created_date=group.created %}</p>


  {{ block.super }}
{% endblock %}
