{% extends "base.html" %}
{% load ftl %}
{% load form_rendering %}

{% block content %}
  {% url 'create_group' as create_group_url %}
  <p>{% ftlmsg 'groups-list-intro-html' create_group_url=create_group_url %}
  </p>
  <br>

  <form action="." method="GET"
        data-pjax-results-container="#id-groups-results"
        data-pjax-more-results-container=".more-results-container"
        >
    <div class="form-row">
      <label for="id_query">{% ftlmsg 'groups-search-label' %}</label>
      <div class="input input-line">
        {{ filter_form.query }}
        <button type="submit" class="btn primary" id="id-search-btn">{% ftlmsg 'groups-search-button' %}</button>
      </div>
    </div>
    {{ filter_form.language_code|render_field }}
  </form>

  <div id="id-groups-results">
    {% include "learnscripture/groups_inc.html" %}
  </div>
{% endblock %}
