{% extends "base.html" %}

{% load ftl %}

{% block page_header %}
  <div class="homepagetitle">
    <img src="{{ STATIC_URL }}img/homepagetitle.png" />
    <p>
      {% ftlmsg 'home-bible-text' %}<br><br>
      <span class="home-page-bible-ref">{% ftlmsg 'home-bible-reference' %}</span>
    </p>
  </div>
{% endblock %}

{% block body_extra_class %}home-page{% endblock %}

{% block content %}

  <p class="large" style="text-align: center">
    {% ftlmsg 'home-strapline' %}
  </p>
  <p style="text-align: center">
    <a href="{% url 'choose' %}" class="btn primary large">{% ftlmsg 'home-start-learning-button' %}</a>
  </p>

  {% if request.i18n_options_enabled and not request.identity %}
    {% include "learnscripture/language_selector_inc_home.html" %}
  {% endif %}
  <hr/>

  <p style="text-align: center;">
    <q class="large">“{% ftlmsg 'home-user-quotation' %}”</q> — <a href="/user/Default-N/">Default-N</a>
  </p>
  <hr>


  <div class="columns2">
    <div>
      <h3>{% ftlmsg 'home-easy-to-use-heading' %}</h3>
      <p>{% ftlmsg 'home-easy-to-use-explanation' %}</p>
    </div>

    <div>
      <h3>{% ftlmsg 'home-online-heading' %}</h3>
      <p>{% ftlmsg 'home-online-explanation' %}</p>
    </div>

    <div>
      <h3>{% ftlmsg 'home-proven-system-heading' %}</h3>
      <p>{% ftlmsg 'home-proven-system-explanation' %}</p>
    </div>

    <div>
      <h3>{% ftlmsg 'home-phones-heading' %}</h3>
      <p>{% ftlmsg 'home-phones-explanation' %}</p>
    </div>

    <div>
      <h3>{% ftlmsg 'home-child-friendly-heading' %}</h3>
      <p>{% ftlmsg 'home-child-friendly-explanation' %}</p>
    </div>

    <div>
      <h3>{% ftlmsg 'home-social-heading' %}</h3>
      <p>{% ftlmsg 'home-social-explanation' %}</p>
    </div>

    <div>
      <h3>{% ftlmsg 'home-free-heading' %}</h3>
      <p>{% ftlmsg 'home-free-explanation' %}</p>
    </div>

    <div>
      <h3>{% ftlmsg 'home-interested-heading' %}</h3>
      <p>{% ftlmsg 'home-interested-explanation-html' %}</p>
    </div>
  </div>


{% endblock %}
