{% load ftl %}
<tr class="more-results-container">
  <td colspan="4">
    {% if results.more %}
      <div class="paging">
        <span class="paging-part">{% ftlmsg 'leaderboards-showing-user-count' user_count=results.shown_count %}</span>
        <span class="paging-part"><a href="{{ results.more_link }}" data-pjax-more>{% ftlmsg 'pagination-show-more' %}</a></span>
      </div>
    {% endif %}
  </td>
</tr>
