{% extends "base.html" %}

{% load form_rendering %}
{% load ftl %}

{% block body_extra_class %}leaderboard-page{% endblock %}

{% block content %}
  <p><a href="{% url 'group' group.slug %}">{% ftlmsg 'groups-details-group-info-subtitle' %}</a></p>

  <form action="." method="GET"
        data-pjax-results-container="#id-leaderboard-results-table-body"
        data-pjax-more-results-container=".more-results-container"
        >
    {{ leaderboard_filter_form|render_form }}
  </form>

  {% if thisweek %}
    <p class="note">{% ftlmsg 'leaderboards-weekly-statistics-note' %}</p>
  {% endif %}

  <table id="id-leaderboard-results-table">
    <thead>
      <tr>
        <th>{% ftlmsg 'leaderboards-user-column' %}</th>
        <th>{% ftlmsg 'leaderboards-points-column' %}</th>
        <th>{% ftlmsg 'leaderboards-rank-column' %}</th>
        <th>{% ftlmsg 'leaderboards-verses-started-column' %}</th>
      </tr>
    </thead>
    <tbody id="id-leaderboard-results-table-body">
      {% include "learnscripture/leaderboard_results_table_body_inc.html" %}
    </tbody>
  </table>

{% endblock %}
