{% load form_rendering %}
{% load json_filters %}
{% load ftl %}

{% if not hide_preferences_popup %}
  <div id="id-preferences-form" class="sidepanel hide">
    <div class="close-bar backdrop">
    </div>
    <div class="sidepanel-main slider">
      <div class="sidepanel-header">
        <h3>{% ftlmsg 'accounts-preferences-title' %}</h3>
      </div>
      <div class="sidepanel-body">
        <form action="" method="POST">
          {% csrf_token %}

          {{ preferences_form|render_form }}

        </form>
      </div>
      <div class="sidepanel-footer">
        <button type="submit" id="id-preferences-save-btn" class="btn primary default">{% ftlmsg 'accounts-preferences-save-button' %}</button>
        <button type="submit" id="id-preferences-cancel-btn" class="btn secondary">{% ftlmsg 'accounts-preferences-cancel-button' %}</button>
      </div>
    </div>
  </div>
{% endif %}
<script type="text/javascript">
 window.learnscriptureThemeFonts = {{ theme_fonts|jsonify|safe }};
</script>
