<div id="id-preferences-data"
     {# NB these names are translated to preferencesSetup, enableAnimations, enableSounds, enableVibration, interfaceTheme, desktopTestingMethod, touchscreenTestingMethod #}
     data-preferences-setup="{{ request.identity.preferences_setup|yesno:"true,false,false" }}"
     data-enable-animations="{{ request.identity.enable_animations|yesno:"true,false,false" }}"
     data-enable-sounds="{{ request.identity.enable_sounds|yesno:"true,false,false" }}"
     data-enable-vibration="{{ request.identity.enable_vibration|yesno:"true,false,false" }}"
     data-interface-theme="{{ request.identity.interface_theme }}"
     data-interface-language="{{ request.identity.interface_language }}"
     data-desktop-testing-method="{{ request.identity.desktop_testing_method }}"
     data-touchscreen-testing-method="{{ request.identity.touchscreen_testing_method }}"
     data-pin-action-log-menu-large-screen="{{ request.identity.pin_action_log_menu_large_screen|yesno:"true,false,false" }}"
     data-pin-action-log-menu-small-screen="{{ request.identity.pin_action_log_menu_small_screen|yesno:"true,false,false" }}"
     data-pin-verse-options-menu-large-screen="{{ request.identity.pin_verse_options_menu_large_screen|yesno:"true,false,false" }}"
     data-seen-help-tour="{{ request.identity.seen_help_tour|yesno:"true,false,false" }}"
     ></div>
{% if request_account %}
  <div id="id-account-data"
       data-username="{{ request_account.username }}"
       data-id="{{ request_account.id }}"
       >
  </div>
{% endif %}
