{% extends "base.html" %}

{% load ftl %}
{% load capture_tags %}

{% block content %}

  <p>{% ftlmsg 'referrals-intro' %}</p>

  <h2>{% ftlmsg 'referrals-how-it-works-title' %}</h2>

  {% if referral_link %}

    <p>{% ftlmsg 'referrals-how-it-works-paragraph-1' %}</p>

    <p class="referral-link">{% include "learnscripture/referral_link_control.html" with link=referral_link %}</p>

    <p>{% ftlmsg 'referrals-how-it-works-paragraph-2' %}</p>

  {% else %}

    {% capture as login_url silent %}{% url "login" %}?next={{ request.get_full_path|urlencode }}{% endcapture %}
    <p><b>{% ftlmsg 'referrals-you-need-to-create-an-account-html' login_url=login_url %}</b></p>

  {% endif %}


  <h2>{% ftlmsg 'referrals-please-dont-title' %}</h2>

  <ul class="dont">
    <li>{% ftlmsg 'referrals-please-dont-send-bulk-emails' %}</li>
  </ul>

  <h2>{% ftlmsg 'referrals-please-do-title' %}</h2>

  <ul class="do">
    <li>{% ftlmsg 'referrals-please-do-share-on-social-media' %}</li>
    <li>{% ftlmsg 'referrals-please-do-include-personal-comments' %}</li>
  </ul>

  <h2>{% ftlmsg 'referrals-specific-pages-title' %}</h2>

  <p>{% ftlmsg 'referrals-specific-pages-paragraph-1' %}</p>

  {% url 'choose' as choose_url %}
  {% url 'groups' as groups_url %}
  <p>{% ftlmsg 'referrals-paragraph-2-html' choose_url=choose_url groups_url=groups_url %}</p>

{% endblock %}

