{% extends "base_twocol.html" %}

{% load markup_tags %}
{% load ftl %}
{% load account_utils %}

{% block leftcolumn %}

  {% if verse_set.description %}
    <h2>{% ftlmsg 'versesets-description' %}</h2>
    {{ verse_set.description|apply_markup:"restructuredtext" }}
  {% endif %}

  {% if verse_set.additional_info %}
    {{ verse_set.additional_info|apply_markup:"restructuredtext" }}
  {% endif %}

  {% if verse_list %}
    {% if verse_set.is_passage %}
      <h3>{{ verse_list.0.book_name }}</h3>
      {% for v in verse_list %}
        {% if v.break_here %}<br/>{% endif %}
        <div>
          {% ifchanged v.chapter_number %}
            <span class="chapternumber">{{ v.chapter_number }}</span>
          {% endifchanged %}
          <span class="versenumber">{{ v.display_verse_number }}</span>
          {{ v.text|linebreaksbr }}
        </div>
      {% endfor %}
      <br/>
    {% else %}

      <h2>{% ftlmsg 'versesets-view-set-verses-title' %}</h2>
      <ul>
        {% for v in verse_list %}
          <li>
            <b>{{ v.localized_reference }}:</b> {{ v.text.strip|linebreaksbr }}
            <br/><br/>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <div class="verse-set-version-info">
      <form action="" method="GET">
        <div id="id-version">
          {% ftlmsg 'bibleverses-select-version-label' %}
          <select id="id-version-select" name="version">
            {% for v in bible_versions %}
              <option value="{{ v.slug }}"
                      {% if v.slug == version.slug %}selected{% endif %}
                      >{{ v.short_name }} ({{ v.full_name }})</option>
            {% endfor %}
          </select>
          <noscript>
            {# for webtest tests #}
            <button type="submit" class="btn" id="id-trigger-version-change">Change</button>
          </noscript>

        </div>
      </form>
    {% include "learnscripture/permission_link.html" with text=version %}
    </div>

    <h3>{% ftlmsg 'versesets-view-set-notes-title' %}</h3>
    <ul>
      {% if not verse_set.is_passage %}
        <li>{% ftlmsg 'versesets-view-set-how-to-opt-out' %}</li>
      {% endif %}
      <li><i class="icon-public"></i> {% ftlmsg 'versesets-view-set-learning-is-public' %}</li>
    </ul>

  {% else %}
    {% ftlmsg 'versesets-view-set-no-verses' %}
  {% endif %}

  {% if can_edit and show_convert_to_passage %}
    <hr>
    <p>{% ftlmsg 'versesets-view-set-change-to-passage-set' %}
    </p>
    <form action="" method="POST">
      {% csrf_token %}
      <button type="submit" name="convert_to_passage_set" class="btn">{% ftlmsg 'versesets-view-set-change-to-passage-set-button' %}</button>
    </form>
    <hr>

  {% endif %}

  <form action="{% url 'choose' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="verseset_id" value="{{ verse_set.id }}">
    <input type="hidden" name="version_slug" value="{{ version.slug }}">
    <div class="actions empty-form">
      {% if can_edit %}
        <a class="btn" href="{% url 'edit_set' slug=verse_set.slug %}">{% ftlmsg 'versesets-view-set-edit-button' %}</a>
      {% endif %}
      {% if verse_list %}
        <button type="submit" class="btn primary needs-preferences" name="learn">{% ftlmsg 'choose-learn-button' %}</button>
        <i class="icon-public" title="{% ftlmsg 'site-public-action' %}"></i>
      {% endif %}
    </div>
  </form>


{% endblock %}


{% block rightcolumn %}

  <h3>{% ftlmsg 'versesets-view-set-info-title' %}</h3>

  <div>
    {% ftlmsg 'versesets-view-set-put-together-by-html' username=verse_set.created_by|account_link %}.
    <br/>
    {% ftlmsg 'versesets-view-set-date-created' date_created=verse_set.date_added %}

    {% if not verse_set.public %}
      <br/><br/>
      {% ftlmsg 'versesets-view-set-private' %}
    {% endif %}
  </div>

  <h3>{% ftlmsg 'versesets-view-set-status-title' %}</h3>

  {% if started_count == 0 %}
    <p>{% ftlmsg 'versesets-view-set-not-learning' version_name=version.short_name %}</p>
  {% elif started_count == verse_list|length %}
    <p>{% ftlmsg 'versesets-view-set-learning-all' version_name=version.short_name %}</p>
  {% else %}
    <p>{% ftlmsg 'versesets-view-set-learning-some' started_count=started_count total_count=verse_list|length version_name=version.short_name %}</p>
  {% endif %}

  {% if in_queue > 0 %}
    <p>{% ftlmsg 'versesets-view-set-number-in-queue' in_queue_count=in_queue version_name=version.short_name %}</p>

    <p>{% ftlmsg 'versesets-view-set-remove-from-queue-start' %}</p>

    <ul>
      <li>{% ftlmsg 'versesets-view-set-remove-from-queue-method-1' %}</li>
      <li>{% ftlmsg 'versesets-view-set-remove-from-queue-method-2' %}
        <form action="" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn" name="drop">{% ftlmsg 'versesets-view-set-drop-from-queue-button' %}</button>
        </form>
      </li>
    </ul>

  {% endif %}

{% endblock %}
