{% extends "base.html" %}

{% load form_rendering %}
{% load ftl %}

{% block body_extra_class %}user-verses-page{% endblock %}

{% block content %}
  <form action="." method="GET"
        data-pjax-results-container="#id-user-verses-results"
        data-pjax-more-results-container=".more-results-container"
        >
    <div class="form-row">
      <label for="id_query">{% ftlmsg 'user-verses-search-label' %}</label>
      <div class="input input-line">
        {{ filter_form.query }}
        <button type="submit" class="btn primary" id="id-search-btn">{% ftlmsg 'user-verses-search-button' %}</button>
      </div>
    </div>
    {{ filter_form.text_type|render_field }}
    {{ filter_form.order|render_field }}
  </form>

  <div id="id-user-verses-results">
    {% include "learnscripture/user_verses_inc.html" %}
  </div>

{% endblock %}
