{% extends "base.html" %}

{% load humanize %}
{% load account_utils %}
{% load ftl %}

{% block extrajs %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}lib/dygraph-combined.js"></script>
  <script type="text/javascript"
          id="id-script-user-stats-chart"
          data-verses-started-caption="{% ftlmsg 'user-stats-verses-started' %}"
          data-verses-tested-caption="{% ftlmsg 'user-stats-verses-tested' %}"
          >
   $(document).ready(function () {
     $.ajax({
       url: '/api/learnscripture/v1/usertimelinestats/?format=json',
       dataType: 'json',
       type: 'GET',
       data: {
         username: $("#id-user-stats-script-data").attr('data-user-timeline-stats-user')
       },
       success: function(data) {
         var dataRows = data['stats'].replace(/\r/, '').trim().split(/\n/).slice(1).map(function(r) {
           var cols = r.split(/,/);
           return [new Date(cols[0]), parseInt(cols[1], 10), parseInt(cols[2], 0)];
         })
         if (dataRows.length == 0) {
             return;
         }

         var $captionData = $("#id-script-user-stats-chart");
         var now = new Date().getTime();
         var g = new Dygraph(
           document.getElementById("id-user-stats-graph"),
           dataRows,
           {
             labels: [
               "Date",
               $captionData.attr("data-verses-started-caption"),
               $captionData.attr("data-verses-tested-caption"),
             ],
             includeZero: true,
             axisLineWidth: 1,
             strokeWidth: 2,
             drawCallback: function(dygraph, isInitial) {
               if (isInitial) {
                 dygraph.updateOptions({ dateWindow:
                                         [Math.max(
                                           now - 1000 * 60 * 60 * 24 * 30 * 6, // six months ago
                                           dygraph.xAxisExtremes()[0] // earliest piece of data,
                                         ),
                                          now]});
               }
             }
           }
         );

         var rollCb = $('#id-user-stats-graph-rolling');
         rollCb.bind('change', function (ev) {
           g.updateOptions({rollPeriod: (rollCb.prop("checked")) ? 7 : 1})
         });

       }
     });
   });
  </script>
{% endblock %}

{% block description %}
  {% ftlmsg 'user-stats-page-description' username=account.username %}
{% endblock %}

{% block page_title %}
  {{ title }}
    {% if account.is_superuser %}
      <span class="official-user-info">{% ftlmsg 'user-stats-is-webmaster' %}</span>
    {% endif %}
{% endblock %}

{% block content %}

  <h2>{% ftlmsg 'user-stats-user-information-title' %}</h2>

  <table class="bordered-table">
    <tbody>
      {% if account.personal_name %}
        <tr>
          <th>{% ftlmsg 'accounts-full-name' %}</th>
          <td>{{ account.personal_name }}</td>
        </tr>
      {% endif %}
      <tr>
        <th>{% ftlmsg 'user-stats-started-using-site' %}</th>
        <td>{{ account.identity.date_created|date:"j M Y" }}</td>
      </tr>
      {% if account.recruited_by and account.recruited_by.is_active %}
        <tr>
          <th>{% ftlmsg 'user-stats-recruited-by' %}</th>
          <td>{{ account.recruited_by|account_link }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  {% if request_account and request_account != account %}
    <h2>{% ftlmsg 'user-stats-connections-title' %}</h2>

    <div>
      <div class="is-following
                  {% if not viewer_is_following %}hide{% endif %}">
        <button type="submit" id="id-unfollow-btn" class="btn primary" data-account-id="{{ account.id }}">{% ftlmsg 'user-stats-unfollow-button' %}</button>
        {% ftlmsg 'user-stats-you-are-following' username=account.username %}
      </div>
      <div class="is-not-following
                  {% if viewer_is_following %}hide{% endif %}">
        <button type="submit" id="id-follow-btn" class="btn primary" data-account-id="{{ account.id }}">{% ftlmsg 'user-stats-follow-button' %}</button>

        {% ftlmsg 'user-stats-you-are-not-following' username=account.username %}
      </div>
      <p>{% ftlmsg 'user-stats-following-explanation' %}
      </p>
    </div>

  {% endif %}

  {% if events %}

    <h2>{% ftlmsg 'user-stats-activity-title' %}</h2>

    <div class="activitystream">
      {% for event in events %}
        {% include "learnscripture/activity_event_inc.html" %}
      {% endfor %}
    </div>

    {% include "learnscripture/comment_common_inc.html" %}

    <p><a href="{% url 'user_activity_stream' account.username %}">{% ftlmsg 'user-stats-activity-see-more' %}</a></p>
  {% endif %}

  <h2>{% ftlmsg 'user-stats-charts-title' %}</h2>
  <p>{% ftlmsg 'user-stats-charts-instructions' %}</p>
  <h3>{% ftlmsg 'user-stats-chart-1-title' %}</h3>
  <div id="id-user-stats-graph" style="width: 90%; margin: 0 auto 0 0;">
    <i>{% ftlmsg 'site-loading-placeholder' %} {% include "learnscripture/loading_animation.html" %}</i>
  </div>
  <div class="inputs-list">
    <label><input type="checkbox" id="id-user-stats-graph-rolling"> {% ftlmsg 'user-stats-7-day-rolling-average-label' %}</label>
  </div>

  <br/>

  <p class="note">{% ftlmsg 'user-stats-charts-timezone-note' %}</p>

  {% if awards %}
    <h2 id="badges">{% ftlmsg 'user-stats-awards-title' %}</h2>

    <table class="bordered-table award">
      <thead>
        <tr>
          <th>{% ftlmsg 'awards-award' %}</th>
          <th>{% ftlmsg 'awards-description' %}</th>
          <th>{% ftlmsg 'awards-points' %}</th>
          <th>{% ftlmsg 'awards-date-received' %}</th>
        </tr>
      </thead>

      <tbody>
        {% for award in awards %}
          <tr>
            <td>
              <a href="{% url 'award' award.award_detail.slug %}">
                <img src="{{ STATIC_URL }}{{ award.image_medium }}">
              </a>
            </td>
            <td>
              <h3><a href="{% url 'award' award.award_detail.slug %}">{{ award.award_detail.title }}</a>
                {% if award.has_levels %}
                  - {% ftlmsg 'awards-award-level' level=award.level %}
                {% endif %}
              </h3>
              <p>{{ award.full_description }}</p>
            </td>
            <td>
              {{ award.award_detail.points|intcomma }}
            </td>
            <td>
              {{ award.created|date:"j M Y" }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <p><a href="{% url 'awards' %}">{% ftlmsg 'user-stats-awards-page-link' %}</a>.</p>

  {% endif %}

  <h2>{% ftlmsg 'user-stats-points-title' %}</h2>

  <table class="bordered-table">
    <thead>
      <tr>
        <th></th>
        <th>{% ftlmsg 'user-stats-points-all-time' %}</th>
        <th>{% ftlmsg 'user-stats-points-this-week' %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{% ftlmsg 'user-stats-points' %}</th>
        <td>{{ account.points_all_time|intcomma }}</td>
        <td>{{ account.points_this_week|intcomma }}</td>
      </tr>
      <tr>
        <th>{% ftlmsg 'user-stats-verses-started' %}</th>
        <td>{{ verses_started_all_time|intcomma }}</td>
        <td>{{ verses_started_this_week|intcomma }}</td>
      </tr>
      <tr>
        <th>{% ftlmsg 'user-stats-verses-fully-learnt' %}</th>
        <td>{{ verses_finished_all_time|intcomma }}</td>
        <td>{{ verses_finished_this_week|intcomma }}</td>
      </tr>
      <tr>
        <th><a href="{% url 'choose' %}?creator={{ account.username }}">{% ftlmsg 'user-stats-verse-sets-created' %}</a></th>
        <td>{{ verse_sets_created_all_time|intcomma }}</td>
        <td>{{ verse_sets_created_this_week|intcomma }}</td>
      </tr>

    </tbody>
  </table>

  <p class="note">{% ftlmsg 'user-stats-weekly-statistics-note' %}</p>

  {% if request_account.username == account.username %}
    <p><a href="{% url 'user_verses' %}"><i class="icon-progress"></i> {% ftlmsg 'user-stats-detailed-progress-link' %}</a></p>
  {% endif %}


  <h2 id="groups">{% ftlmsg 'user-stats-groups-title' %}</h2>
  {% if groups %}
    <ul>
      {% for group in groups %}
        <li>{{ group|group_link }}</li>
      {% endfor %}
    </ul>

    {% if request_account.username == account.username %}
      <p><a href="{% url 'groups' %}">{% ftlmsg 'user-stats-find-more-groups' %}</a></p>
    {% endif %}

  {% else %}
    <p>{% ftlmsg 'user-stats-no-groups' %}

      {% if request_account.username == account.username %}
        <a href="{% url 'groups' %}">{% ftlmsg 'user-stats-find-groups' %}</a>
      {% endif %}
    </p>

  {% endif %}

  <div id="id-user-stats-script-data"
       data-user-timeline-stats-user="{{ account.username }}">
  </div>

{% endblock %}
