{% load ftl %}
{% load l10n %}

{% for verse in results.items %}
  {% ifchanged verse.localized_reference verse.version.slug %}
    <tbody {% if verse.verse_set_id %}
                  data-verse-set-id="{{ verse.verse_set_id }}"
    {% endif %}
                  data-version-id="{{ verse.version_id }}"
                  >
      <tr>
        <td>{{ verse.title }}</td>
        <td>{{ verse.version.slug }}</td>
        <td>
          {% spaceless %}
          <div class="stars-cont">
            <div class="stars-base">
              <img class="stars" src="{{ STATIC_URL }}img/strength_0.png">
            </div>
            <div class="stars-over" style="width: calc({{ verse.scaled_strength|unlocalize }} * var(--stars-width))">
              <img class="stars" title="{{ verse.scaled_strength_percentage }}%" src="{{ STATIC_URL }}img/strength_100.png">
            </div>
          </div>
          {% endspaceless %}
        <td>
          <button type="button" class="btn verse-popup-btn" data-localized-reference="{{ verse.localized_reference }}" data-version="{{ verse.version.slug }}" data-title="{{ verse.title }}"><i class="icon-verse-options-menu-btn"></i></button>
        </td>
      </tr>
      <tr>
        <td class="verse-options-container hide" colspan="4"></td>
      </tr>
    </tbody>
  {% endifchanged %}
{% endfor %}
{% if results.more %}
  <tbody class="more-results-container">
    <tr>
      <td colspan="4">
        <div class="paging">
          <span class="paging-part">{% ftlmsg 'pagination-showing-shown-of-total' shown=results.shown_count total=results.total %}</span>
          <span class="paging-part"><a href="{{ results.more_link }}" data-pjax-more>{% ftlmsg 'pagination-show-more' %}</a></span>
          <span class="paging-part"><a href="#id-page-top">{% ftlmsg 'pagination-jump-to-top' %}</a></span>
        </div>
      </td>
    </tr>
  </tr>
{% endif %}
