{% load dict_utils %}
{% load ftl %}

<div class="verse-options borderedbox">
  {% for uvs in uvs_list %}

    {% if forloop.first %}  {# Avoid doing 'reviewverse' more than once #}
      <form action="{% url 'dashboard' %}" method="POST">
        {% csrf_token %}

        <input type="hidden" name="uvs_id" value="{{ uvs.id }}" />
        <p>
          {% spaceless %}
            <button type="submit" name="reviewverse" class="btn primary">
              {% if uvs.needs_testing %}
                {% if uvs.version.is_bible %}
                  {% ftlmsg 'user-verses-review-verse-button' reference=uvs.localized_reference %}
                {% else %}
                  {% ftlmsg 'user-verses-review-question-button' %}
                {% endif %}
              {% else %}
                {% if uvs.version.is_bible %}
                  {% ftlmsg 'user-verses-practise-verse-button' reference=uvs.localized_reference %}
                {% else %}
                  {% ftlmsg 'user-verses-practise-question-button' %}
                {% endif %}
              {% endif %}
            </button>
          {% endspaceless %}
        </p>
      </form>
    {% endif %}

    {% if uvs.is_in_passage %}
      <form action="{% url 'dashboard' %}" method="POST">
        {% csrf_token %}

        <input type="hidden" name="verse_set_id" value="{{ uvs.verse_set.id }}" />
        <input type="hidden" name="uvs_id" value="{{ uvs.id }}" />

        {% if uvs.section_localized_reference != uvs.passage_localized_reference %}

          {# review/practise section #}
          <p>
            {% spaceless %}
              {% if uvs.needs_testing %}
                <button type="submit" name="reviewpassagesection" class="btn primary">
                  {% ftlmsg 'user-verses-review-section-button' section_reference=uvs.section_localized_reference %}
                </button>
              {% else %}
                <button type="submit" name="practisepassagesection" class="btn primary">
                  {% ftlmsg 'user-verses-practise-section-button' section_reference=uvs.section_localized_reference %}
                </button>
              {% endif %}
            {% endspaceless %}
          </p>

        {% endif %}

        {# review/practice passage #}

        <p>
          {% spaceless %}
            {% if uvs.needs_testing %}
              <button type="submit" name="reviewpassage" class="btn primary">
                {% ftlmsg 'user-verses-review-passage-button' passage_reference=uvs.passage_localized_reference %}
              </button>
            {% else %}
              <button type="submit" name="practisepassage" class="btn primary">
                {% ftlmsg 'user-verses-practise-passage-button' passage_reference=uvs.passage_localized_reference %}
              </button>
            {% endif %}
          {% endspaceless %}
        </p>
      </form>
    {% endif %}

    {% if uvs.version.is_catechism %}
      <form action="{% url 'dashboard' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="catechism_id" value="{{ uvs.version.id }}" />
        <p>
          {% spaceless %}
            <button type="submit" name="reviewcatechism" class="btn primary">
              {% ftlmsg 'user-verses-review-or-practice-catechism' catechism_name=uvs.version.short_name %}
            </button>
          {% endspaceless %}
        </p>
      </form>
    {% endif %}

    {# Stop learning buttons #}
    {% if uvs.version.is_bible %}
      <form action="" method="POST">
        {% csrf_token %}
        {% if not uvs.verse_set or uvs.verse_set.is_selection %}

          {# Selections #}
          <input type="hidden" name="verse_status_id" value="{{ uvs.id }}" />
          <input type="hidden" name="verse_status_version_slug" value="{{ uvs.version.slug }}" />
          <input type="hidden" name="verse_status_localized_reference" value="{{ uvs.localized_reference }}" />
          <p>
            <button type="button" name="cancellearning" class="btn primary cancel-learning-verse-btn"
                    data-confirm-prompt="{% ftlmsg 'user-verses-stop-learning-verse-prompt' reference=uvs.localized_reference version_name=uvs.version.short_name %}"
              >
              {% ftlmsg 'user-verses-stop-learning-verse-button' %}
            </button>
          </p>
        {% else %}

          {# Passages #}
          <input type="hidden" name="verse_set_id" value="{{ uvs.verse_set_id }}" />
          <input type="hidden" name="version_id" value="{{ uvs.version_id }}" />
          <p>
            <button type="submit" name="cancellearning" class="btn primary cancel-learning-passage-btn"
                    data-confirm-prompt="{% ftlmsg 'user-verses-stop-learning-passage-prompt' passage_reference=uvs.passage_localized_reference version_name=uvs.version.short_name %}"
                    >
              {% ftlmsg 'user-verses-stop-learning-passage-button' %}<br>
              ({{ uvs.passage_localized_reference }})
            </button>
          </p>
        {% endif %}
      </form>
    {% endif %}

  {% endfor %}
</div>
